#muteButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #151515;
    opacity: 0.7;
    cursor: pointer;
    z-index: 900;
  }
  
  #muteIcon,
  #unmuteIcon {
  
    width: 20px;
    height: 20px;
    display: block;
    margin: 10px 9.5px ;
    z-index: 999;
  }
  
  #unmuteIcon {
    display: none;
  }
  
  #muteButton.muted #muteIcon {
    display: none;
  }
  
  #muteButton.muted #unmuteIcon {
    display: block;
  }
 
